{% extends './layout.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            <h2>Edit App
                <small>{{ app.name }}.</small>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form action="/int/apps/{{ app.name }}/edit" method="post">
                <input type="hidden" name="client_id" value="{{ app.name }}">
                <div class="form-group">
                    <label class="control-label" for="name">
                        Description
                    </label>
                    <textarea required maxlength="32" rows="5" class="form-control" name="description"
                              type="text">{{ app.description }}</textarea>
                    <small>Max length: 32</small>
                </div>
                <div class="form-group">
                    <label for="tags">App Logo (Optimal resolution: 1024x1024. Max. filesize: 5MB)</label>
                    <div class="input-group">
                        <input required type="url" class="form-control" value="{{ app.logo }}" id="previewimage"
                               name="previewimage" readonly="" aria-label="Preview Image">
                        <div class="input-group-append">
                            <button id="upload_now" class="upldr-btn btn btn-sm btn-gradient-primary" type="button">
                                Select Image
                            </button>
                        </div>
                    </div>
                    <input accept="image/*" id="upload_select" type="file" class="d-none">
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">
                        Redirect Urls
                    </label>
                    <textarea required class="form-control" rows="5" id="name" name="redirect_uris"
                              type="text">{{ app.redirect_uri|join('\r\n') }}</textarea>
                    <small>One per line. Must start with http or https</small>
                </div>
                <div class="form-group">

                    <div class="btn-group">
                        <input class="form-control btn btn-primary" type="submit" value="Save"/>
                        <a href="/int/apps/{{ app.name }}/revoke" class="btn btn-danger">Revoke tokens</a>
                    </div>


                </div>
            </form>
        </div>
    </div>
{% endblock %}
